<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add</title>
  </head>
  <body>
    <h1>Update Blog Post</h1>
    <form method="POST" action="/add">
      <label for="author">author: </label><br />
      <input type="text" id="author" name="author" /><br />
      <label for="title">title:</label><br />
      <input type="text" id="title" name="title" /><br />
      <label for="content">content:</label><br />
      <input type="text" id="content" name="content" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
