<html>
  <head>
    <title>add blog</title>
  </head>
  <body>
    <form method="POST" action="/add">
      <label for="author">author: </label><br />
      <input type="text" id="author" name="author" /><br />
      <label for="title">title:</label><br />
      <input type="text" id="title" name="title" /><br />
      <label for="content">content:</label><br />
      <input type="text" id="content" name="content" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
