<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <form method="POST" action="{{ url_for('update', post_id=post.id) }}">
      <label for="author">author: </label><br />
      <input
        type="text"
        id="author"
        name="author"
        value="{{ post.author }}"
      /><br />
      <label for="title">title:</label><br />
      <input
        type="text"
        id="title"
        name="title"
        value="{{ post.title }}"
      /><br />
      <label for="content">content:</label><br />
      <input
        type="text"
        id="content"
        name="content"
        value="{{ post.content }}"
      /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
